<div class="coupon-list-view-popup" data-bind="mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'popup',
        'title': 'Available Coupons',
        'trigger': '[data-trigger=open-coupon-list]',
        'responsive': true,
        'buttons': []
    }}">
    <div id="coupon-list" class="coupon-list">
        <div class="messages">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: itemList().length -->
            <div class="list" data-bind="foreach: itemList">
                <div class="coupon-code">
                    <span class="code">
                        <!-- ko text: $data.coupon --><!-- /ko -->
                    </span>
                </div>
                <div class="coupon-name">
                    <span class="name">
                        <!-- ko text: $data.name --><!-- /ko -->
                    </span>
                </div>
                <div class="coupon-description">
                    <p class="description">
                        <!-- ko text: $data.description --><!-- /ko -->
                    </p>
                </div>
                <div class="actions primary">
                    <!-- ko ifnot: $parent.couponCode() == $data.coupon -->
                        <button class="action action-apply" type="button" data-bind="value: $t('Apply'), click: $parent.applycoupon">
                            <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                    <!-- ko if: $parent.couponCode() == $data.coupon -->
                        <button class="action action-cancel" type="button" data-bind="value: $t('Cancel'), click: $parent.cancelcoupon">
                            <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                </div>
            </div>
        <!-- /ko -->

        <!-- ko ifnot: itemList().length -->
            <div class="no-items">
                <span class="no-items">
                    <!-- ko text: 'No Coupon codes avilable!' --><!-- /ko -->
                </span>
            </div>
        <!-- /ko -->
    </div>
</div>
