<div class="coupon-list-view-popup" data-bind="mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'popup',
        'title': 'Available Coupons',
        'trigger': '[data-trigger=open-coupon-list]',
        'responsive': true,
        'innerScroll': true,
        'modalClass': 'coupon-list-container',
        'buttons': []
    }}">
    <div id="coupon-list" class="coupon-list">
        <div class="messages">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: itemList().length -->
            <div class="list" data-bind="foreach: itemList">
                <div class="coupon-wrapper">
                <div class="coupon-code">
                    <span class="code">
                        <!-- ko text: $data.coupon --><!-- /ko -->
                    </span>
                </div>
                <div class="coupon-details">
                    <div class="coupon-name">
                        <span class="name">
                            <!-- ko text: $data.name --><!-- /ko -->
                        </span>
                    </div>
                    <div class="coupon-description">
                        <div class="description" data-bind="css: {'read-more-description white-patch': $parent.readMoreElement() != $data.coupon && $data.description.length > 150 }">
                            <p>
                                <!-- ko text: $data.description --><!-- /ko -->
                            </p>
                        </div>
                        <!-- ko if: $data.description.length > 150 -->
                        <a href="javascript:void(0);" class="read-more" data-bind="click: $parent.readMoreElement() != $data.coupon ? $parent.readMoreToggle : $parent.readLessToggle">
                            <span data-bind="text: $parent.readMoreElement() != $data.coupon ? $t('Read More') : $t('Read Less')" />
                        </a>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="actions primary">
                    <!-- ko ifnot: ($parent.couponCode() != null ? $parent.couponCode().toLowerCase() : $parent.couponCode()) == ($data.coupon).toLowerCase() -->
                        <button class="action action-apply" type="button" data-bind="value: $t('Apply'), click: $parent.applycoupon">
                            <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                    <!-- ko if: ($parent.couponCode() != null ? $parent.couponCode().toLowerCase() : $parent.couponCode()) == ($data.coupon).toLowerCase() -->
                        <button class="action action-cancel" type="button" data-bind="value: $t('Cancel'), click: $parent.cancelcoupon">
                            <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                </div>
                </div>
            </div>
        <!-- /ko -->

        <!-- ko ifnot: itemList().length -->
            <div class="no-items">
                <span class="no-items">
                    <!-- ko i18n: 'No Coupon codes available!' --><!-- /ko -->
                </span>
            </div>
        <!-- /ko -->
    </div>
</div>